/* Importation des 2 polices ****/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

/* Application de la police Roboto pour le texte général */
body {
  margin: 0;
  font-family: "Playfair Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Application de Playfair Display pour les titres */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 700; /* 700 pour un effet plus marqué */
}

/* Application de Roboto pour les paragraphes */
p {
  font-family: "Roboto";
  font-weight: 400;
}
