/* Importation des polices */
@font-face {
  font-family: "Anton";
  src: url("./Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Permet un affichage rapide du texte */
}

body {
  margin: 0;
  font-family:
    "Roboto",
    /* Police principale pour le texte */ -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: "Anton", sans-serif; /* Appliqué uniquement aux titres */
  font-weight: bold;
  text-transform: uppercase; /* Optionnel, pour styliser les titres */
}
