$secondary-color: #008000; // Vert accent
$background-light: #f8f9fa; // Blanc cassé
$background-dark: #212529; // Gris anthracite
$text-dark: #212529; // Texte principal
$text-light: #fff; // Texte clair
