@use "../../sass/variables.scss" as *;

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid $secondary-color;
  background-color: black; // Changement en noir pour cohérence avec la bannière

  nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-right: 15px;
  }

  a {
    text-decoration: none;
    color: #fff; // Blanc pur pour un bon contraste
    font-size: 1.5rem;
    position: relative;
    transition: color 0.3s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -5px;
      width: 0%;
      height: 2px;
      background-color: $secondary-color; // Bleu cyan pour effet moderne
      transition:
        width 0.3s ease-in-out,
        left 0.3s ease-in-out;
    }

    &:hover {
      background-color: rgb(40, 146, 40);
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }
  }

  .no-underline {
    text-decoration: none;
    color: #ffffff;
  }

  img {
    width: 60px;
    height: 50px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

// Responsive design
@media (max-width: 720px) {
  header {
    nav {
      width: 90%;
    }

    a {
      font-size: 1rem;
    }

    .no-underline {
      margin-left: 25px;
    }
  }
}
