@use "../../sass/variables.scss" as *;

footer {
  border-top: 2px solid black;
  background-color: $background-dark;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  display: flex;
  justify-content: center;
  color: $text-light;
  font-size: 1em;
}

.logo {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .fa-linkedin {
    padding: 6px;
    border: 2px solid;
    border-radius: 10px;
    color: white !important;
    transition: all 0.3s ease-in-out; // Animation fluide

    &:hover {
      transform: scale(1.2); // Zoom léger au survol
      filter: brightness(120%); // Effet de brillance
    }
  }

  .fa-github {
    width: 30px;
    height: 30px;
    font-size: 34px;
    color: white !important;
    transition: all 0.3s ease-in-out; // Animation fluide

    &:hover {
      transform: scale(1.2); // Zoom léger au survol
      filter: brightness(120%); // Effet de brillance
    }
  }
}
